@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  ---bgcolor: #0C1829;
  ---primary: #fff;
}
body{
  background: var(---bgcolor);
  font-family: 'Robotto', sans-serif;
  width: 90%;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar{
  width:10px;
  
}
::-webkit-scrollbar-track{
  background: #0C1829;
  -webkit-box-shadow: inset 0 0 4px rgb(105, 101, 101);
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #707070;
}